<H2>You can change your password</H2>
<form class="col-xs-4" [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
  <div>
  <label>Input verification code here</label>
  <input type="text"
         id="token"
         formControlName="token"
         name="token"
         class="form-control"
         required="required"
         minlength="5">
  </div>
  <div class="form-group">
    <label>New password</label>
    <input type="text"
           id="password"
           formControlName="password"
           name="password"
           class="form-control"
           required="required"
           minlength="5">
  </div>
  <div class="form-group">
    <label>Confirm password</label>
    <input type="text"
           id="matchingPassword"
           formControlName="matchingPassword"
           name="matchingPassword"
           class="form-control"
           required="required"
           minlength="5">
  </div>
  <button type="submit"  class="btn btn-success">Confirm</button>
</form>

