<div class="club-container">
  <div class="col-md-6 car-club-info">
    <img class="slide" style="height: 250px; width: 250px;"
         src="{{carClub.mainImageUrl}}"
         alt="...">
    <H1>Club info: </H1>
    <p class="text-uppercase">ID: {{ carClub.id }}</p>
    <p class="text-uppercase">Name: {{ carClub.name }}</p>
    <p class="text-uppercase">Description: {{ carClub.description }}</p>
    <p class="text-uppercase">Location: {{ carClub.location }}</p>
    <p class="text-uppercase">Club Owner Id: {{ carClub.clubOwnerId }}</p>
    <p class="text-uppercase">Members count: {{ carClub.members.length }}</p>
    <button *ngIf="isUserOwner$ | async" class="btn btn-success" (click)="onManageCarClub()">Manage</button>
    <hr>
    <H3>Members:</H3>
    <div *ngFor="let member of carClub.members" class="user-action-container">
      <h4 class="user-name">{{ member.firstName }} {{ member.lastName }}</h4>
    </div>

  </div>
</div>
