<div class="row">
  <div class="col-md-6">
    <a routerLink="{{car.id}}" routerLinkActive="active" style="cursor: pointer;">
      <img class="slide" style="max-height: 300px;" src="{{car.mainImageUrl}}"
           alt="...">
    </a>
  </div>
  <div class="col-md-6">
    <p class="text-uppercase">Brand: {{car.brand}}</p>
    <p class="text-uppercase">Model: {{car.model}}</p>
    <p class="text-uppercase">Production year: {{car.productYear}}</p>
    <p class="text-uppercase">Rate: {{car.rate}}</p>
  </div>
</div>
<br>






