<H1>Registration</H1>
<div class="container">


  <!--<form (ngSubmit)=" registerNewUser()">

    <label>First Name</label>
    <input type="text"
           [(ngModel)]="user.firstName"
           [ngModelOptions]="{standalone: true}"
           class="form-control"
           required="required"
           minlength="5">

    <label>Last Name</label>
    <input type="text"
           [(ngModel)]="user.lastName"
           [ngModelOptions]="{standalone: true}"
           class="form-control"
           required="required"
           minlength="5">

    <label>EMail</label>
    <input type="text"
           [(ngModel)]="user.email"
           [ngModelOptions]="{standalone: true}"
           class="form-control"
           required="required"
           minlength="5">

    <label>Password</label>
    <input type="text"
           [(ngModel)]="user.password"
           [ngModelOptions]="{standalone: true}"
           class="form-control"
           required="required"
           minlength="5">

    <label>Confirm Password</label>
    <input type="text"
           [(ngModel)]="user.matchingPassword"
           [ngModelOptions]="{standalone: true}"
           class="form-control"
           required="required"
           minlength="5">
    <button type="submit" class="btn btn-success" >Save</button>
  </form>-->

<!--  <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>-->
  <form #registrationForm="ngForm" (ngSubmit)="registerNewUser1(registrationForm)">
    <div class="form-group">
      <label for="email">First Name</label>
      <input type="text" id="firstName" class="form-control" ngModel name="firstName" required minlength="3" />
    </div>
    <div class="form-group">
      <label for="email">Last Name</label>
      <input type="text" id="lastName" class="form-control" ngModel name="lastName" required minlength="3" />
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="email" id="email" class="form-control" ngModel name="email" required email />
    </div>
    <div class="form-group">
      <label for="email">Password</label>
      <input type="password" id="password" class="form-control" ngModel name="password" required minlength="8" />
    </div>
    <div class="form-group">
      <label for="email">Matching Password</label>
      <input type="password" id="matchingPassword" class="form-control" ngModel name="matchingPassword" required minlength="8" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!registrationForm.valid">Register</button>

  </form>

</div>
