<div class="row">
  <!-- Left column for image -->
  <div class="col-md-6">
    <a routerLink="{{carClub.id}}" routerLinkActive="active" style="cursor: pointer;">
      <img class="slide" style="height: 150px; width: 150px;"
           src="{{carClub.mainImageUrl}}"
           alt="...">
    </a>
  </div>

  <!-- Right column for text -->
  <div class="col-md-6">
    <p class="text-uppercase">Access Type: {{ carClub.accessType }}</p>
    <p class="text-uppercase">ID: {{ carClub.id }}</p>
    <p class="text-uppercase">Name: {{ carClub.name }}</p>
    <p class="text-uppercase">Location: {{ carClub.location }}</p>
    <p class="text-uppercase">Club Owner Id: {{ carClub.clubOwnerId }}</p>
    <p class="text-uppercase">Members number: {{ carClub.members.length}}</p>
    <!--<button *ngIf="!(carClubExistsInUserCarClubs$ | async)" (click)="onJoinCarClub()">Join</button>-->
    <button *ngIf="(showJoinButton$ | async)" (click)="onJoinCarClub()">Join</button>
    <button *ngIf="(showLeaveButton$ | async)" (click)="onLeaveCarClub()">Leave</button>
    <button *ngIf="(showSendReqToJoinButton$ | async)" (click)="onSendReqToJoinCarClub()">Send request to join</button>
  </div>
</div>
